<div class="mainbody">
  <div style="padding:30px;">
   
  <div style="float:left;">
  	<div style=" padding:20px; ">
  		<div style=" padding-bottom:40px;">
  			<div style="float:left; width:170px; padding-right:10px;"> 
                 <div style="padding-bottom:8px;"> <%=image_tag("PersonOffice.jpg", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:center; font-weight:bold"> TitleName</div>
                 <div style="padding-bottom:8px;"> descrition of carreer</div>
  			</div>
  			<div style="float:left; width:170px; padding-right:10px;"> 
                 <div style="padding-bottom:8px;"> <%=image_tag("PersonOffice.jpg", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:center; font-weight:bold"> TitleName</div>
                 <div style="padding-bottom:8px;"> descrition of carreer</div>
  			</div>
  			<div style="float:left; width:170px;"> 
                 <div style="padding-bottom:8px;"> <%=image_tag("PersonOffice.jpg", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:center; font-weight:bold"> TitleName</div>
                 <div style="padding-bottom:8px;"> descrition of carreer</div>
  			</div>
  			<div style="clear:both;"> </div>
  		</div>
  		<div>
  			<div style="float:left; width:170px; padding-right:10px;"> 
                 <div style="padding-bottom:8px;"> <%=image_tag("PersonOffice.jpg", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:center; font-weight:bold"> TitleName</div>
                 <div style="padding-bottom:8px;"> descrition of carreer</div>
  			 </div>
  			<div style="float:left; width:170px;"> 
                 <div style="padding-bottom:8px;"> <%=image_tag("PersonOffice.jpg", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:center; font-weight:bold"> TitleName</div>
                 <div style="padding-bottom:8px;"> descrition of carreer</div>
  			</div>

  			<div style="clear:both;"> </div>

  		</div>
  	</div>
  </div>
  <div style="float:right;border-left:solid 1px #24a3e7; width:320px">
  	 <div style="padding:10px;">
                  <div style="padding-bottom:8px;"> <%=image_tag("Sabrina.jpg", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:center; font-weight:bold"> CEO Sabrina Jacal</div>
                 <div style="padding-bottom:8px;"> "I am one piece of a huge body of christ.  I like me and who my past has made me to be today.  I strive for a better me for tomorrow and beyond."</div>
  	 </div>	
  </div>
  <div style="clear:both;"> </div>

  </div>
  	<div class="FooterSI">
		<div style="float:left">
			<p>&copy Copyright 2014. All rights reserved</p>
		</div>
		<div style="float:right;">
            <div style="float:left; padding-right:15px;color: #2a4f5e;">
            	<%=image_tag("twitter.png", alt: "Example Image")%>
            </div>
            <div style="float:left">
            	<%=link_to image_tag("Facebook.png", :alt => "Facebook"), "https://www.facebook.com/pages/SERVICIO-INTERNACIONAL/165952297926", :target => "_blank"%>
            </div>
			          <div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>