<div class="mainbody">
  <div style="padding:30px;">
   
  <div style="float:left;">
  	<div style=" padding:20px; border-right:solid 1px #24a3e7; ">
  		<div style=" padding-bottom:40px; ">
  			<div style="float:left; width:170px; padding-right:10px;"> 
                 <div style="padding-bottom:8px;"> <%=image_tag("greicy_zuleta.png", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:left; font-weight:bold"> Greicy Jacal</div>
                 <div style="padding-bottom:8px;text-align:left"> Office Assistant</div>
  			</div>
  			<div style="float:left; width:170px; padding-right:10px;"> 
                 <div style="padding-bottom:8px;text-align:left"> <%=image_tag("maria_valentin.png", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:left; font-weight:bold"> Maria Valentin</div>
                 <div style="padding-bottom:8px;"> Secretary</div>
  			</div>
  			<div style="clear:both;"> </div>
  		</div>
  		<div style="">
  			<div style="float:left; width:170px;"> 
                 <div style="padding-bottom:8px;text-align:left"> <%=image_tag("PersonOffice.jpg", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:left; font-weight:bold"> Callida Diaz</div>
                 <div style="padding-bottom:8px;"> Office Manager</div>
  			</div>
        <div style="float:left; width:170px;"> 
                 <div style="padding-bottom:8px;text-align:left"> <%=image_tag("maria_dolores.png", alt: "Example Image")%></div>
                 <div style="padding-bottom:8px;text-align:left; font-weight:bold"> Maria Dolores Martinez</div>
                 <div style="padding-bottom:8px;"> Recepcionist</div>
        </div>
  			<div style="clear:both;"> </div>

  		</div>
  	</div>
  </div>
  <div style="float:right; width:450px">
  	 <div style="padding:10px;">
                  <div style="padding-bottom:8px;"> <%=image_tag("SabrinayAlvaro.png", alt: "Example Image")%></div>
             
                 <div style="padding:8px 0px;"> "We are one piece of a huge body of Christ.  We like ourselves and who our past has made us to be today.  We strive for a better us for tomorrow and beyond."</div> 
  	 </div>	
  </div>
  <div style="clear:both;"> </div>

  </div>
  	<div class="FooterSI">
		<div style="float:left">
			<p>&copy Copyright 2014. All rights reserved</p>
		</div>
		<div style="float:right;">
            <div style="float:left; padding-right:15px;color: #2a4f5e;">
            	<%=image_tag("twitter.png", alt: "Example Image")%>
            </div>
            <div style="float:left">
            	<%=link_to image_tag("Facebook.png", :alt => "Facebook"), "https://www.facebook.com/pages/SERVICIO-INTERNACIONAL/165952297926", :target => "_blank"%>
            </div>
			          <div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>