
	    <div class="mainbody">
		  	<div class="header">
				<div class="container" id="carousel">
		    		<div id="myCarousel" class="carousel slide carousel-fade">
			    		<ol class="carousel-indicators">
			        		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			        		<li data-target="#myCarousel" data-slide-to="1"></li>
			        		<li data-target="#myCarousel" data-slide-to="2"></li>
			        		<li data-target="#myCarousel" data-slide-to="3"></li>
			    		</ol>
			    	  <div class="carousel-inner">
			        		<div class="active item"><%= image_tag 'Taxes.png' %><div class="carousel-caption"><p></p></div></div>
				        	<div class="item"><%= image_tag 'NotarioPublico.png' %><div class="carousel-caption"><p></p></div></div>
				        	<div class="item"><%= image_tag 'Immigration.png' %><div class="carousel-caption"><p></p></div></div>
				        	<div class="item"><%= image_tag 'PolizaAuto.png' %><div class="carousel-caption"><p></p></div></div>
			    		</div>
			    		<span><a class="carousel-control" href="#myCarousel" data-slide="prev" >&lsaquo;</a></span>
			    		<span><a class="carousel-control right1" href="#myCarousel" data-slide="next">&rsaquo;</a></span>
		    		</div>
				</div>
			  </div>
			  <div class="body">
              	<div style="text-align: center; font-size:20px; width:600px; margin:auto; padding:auto;color: #2a4f5e;line-height:1.3em; padding-bottom:20px;"> 
              		<span style="font-size: 30px; color:red; font-style: italic; font-weight:bold"> YES, YOU CAN! </span>
              		Be part of the solution for Immigration Reform that unites us and does not separate us.
              	</div>	
              	<div style="color:#2a4f5e;  padding-left:20px;">

                        <div style="float:left;width:32%; padding-right:10px; ">
                           <div style="  background-color:white; height:420px; box-shadow: 2px 2px 5px #D2D2D2;border:solid 1px #d2d2d2;">
                        			<div style="height:230px;"><%=image_tag("worldinhands.jpeg", alt: "Example Image")%></div>
                        			<div style="margin:8px;">
              						<h4 style="text-align:center;  font-weight:bold;">Translations to unite our world
              						</h4>
              						<p style="line-height:1.7em;">"We strive to provide productive dialogues with our clients, in their native language, so as to reach a resolution to their needs, as a community.” </p>
                        			</div>
                            </div>
                    		</div>
                        <div style="float:left;width:32%;padding-right:10px;">
                        		<div style=" background-color:white; height:420px;box-shadow: 2px 2px 5px #D2D2D2;border:solid 1px #d2d2d2;">
                        			<div style="height:230px;"><%=image_tag("taxinfo20.png", alt: "Example Image")%></div>
                        			<div style="margin:8px;">
              						<h4 style="text-align:center;  font-weight:bold;">TAXes/IRS Filings
              						</h4>
              						<p style="line-height:1.7em;">“Your one stop shop for personal and small business tax preparation.  We can assist with IRS Audits/Pre-Audits, we can provide transcripts of your past tax history, and assist in retrieval of lost or missing tax documents.” </p>
                        			</div>
                        		</div>
                          </div>
                           <div style="float:left;width:32%; ">
                            		<div style="background-color:white; height:420px; box-shadow: 2px 2px 5px #D2D2D2;border:solid 1px #d2d2d2;">
                            			<div style="height:230px;"><%=image_tag("InsuranceProtection.png", alt: "Example Image")%></div>
                            			<div style="margin:8px;">
                  						<h4 style="text-align:center;  font-weight:bold;">Insurance Protection
                  						</h4>
                  						<p style="line-height:1.7em;">“We are a full service insurance agency that can assist you in protecting your family, your business and your belongings, in the case of accidents, injury or damages.  We provide very reasonable rates.</br><br>  </p>
                            			</div>
                            		</div>
                          </div>
              		    <div style="clear:both;"></div>
                                      <div style="font: italic bold 18px/30px Georgia, serif; padding:20px 0px;">
                <ul>
                  <li >Translate your documents - Tradusca sus documentos - ترجمة المستندات الخاصة بك</li>
                  <li>Mobile Notary - Make an appointment!</li>
                </ul>
                <p> * I am not an attorney licensed to practice law in the State of Tennesse, and I may not give legal advice or accept fees for legal advice.</p>
                </div>

              	</div>	

					
						
			</div>

			<div class="FooterSI">
				<div style="float:left">
					<p>&copy Copyright 2014. All rights reserved</p>
				</div>
				<div style="float:right;">
                    <div style="float:left; padding-right:15px;color: #2a4f5e;">
                    	<%=image_tag("twitter.png", alt: "Example Image")%>
                    </div>
                    <div style="float:left">
                    	<%=link_to image_tag("Facebook.png", :alt => "Facebook"), "https://www.facebook.com/pages/SERVICIO-INTERNACIONAL/165952297926", :target => "_blank"%>
                    </div>
					          <div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
				
				
		  </div>
			
			
		</div>
	</div>
</div>

