<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @gmap.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gmap.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gmap.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gmap.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @gmap.title %>
</p>

<%= link_to 'Edit', edit_gmap_path(@gmap) %> |
<%= link_to 'Back', gmaps_path %>
